
		/*font-family: 'Luckiest Guy', cursive;*/
		body {
			background-color: #333;
   			color: #ddd;
   			font-family: "Luckiest Guy", cursive;
   			font-kerning: normal;
		}

		.text-big {
			font-size: 175%;
		}

		.jumbotron {
			background-color: #333;
		}

		button {
			clear: both;
		}
		
/*These last two I copied and modified from someone's attempt to have the underscores show up. As
I've never gotten that part working, I don't actually know if this will make the incorrect guesses 
show up in a horizontal line.*/

		#wrong {
  			margin: 0;
  			display: block;
  			padding: 0;
  			display: block;
		}

		#wrong li {
  			position: relative;
  			list-style: none;
  			margin: 0;
  			display: inline-block;
  			padding: 0 10px;
  			color: #fff;*/
  			font-size: 150%;
		}

	